@model SoftUniQuizSystem.Web.ViewModels.Administration.Dashboard.ExamDeleteViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header alert-primary">
            <h5 class="modal-title">@Model.Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Course: @Model.CourseName</p>
            <p>Total Questions: @Model.NumberOfQuestions</p>
            <p>Time Limit: @Model.TimeLimit</p>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-secondary" data-dismiss="modal" asp-action="Index" asp-controller="Dashboard">Close</a>
            <a class="btn btn-danger" asp-action="DeleteConfirm" asp-controller="Exam" asp-route-id="@Model.Id">Delete</a>
        </div>
    </div>
</div>
