@model SoftUniQuizSystem.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
    int i = 1;
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Total quenstion</th>
            <th scope="col">Time limit</th>
            <th scope="col">Exam date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in Model.Exams)
        {
            <tr>
                <th scope="row">@i</th>
                <td>Star</td>
                <td>@exam.Title</td>
                <td>@exam.NumberOfQuestions</td>
                <td>@exam.TimeLimit</td>
                <td><button type="button" class="btn btn-success">Active</button></td>
                <td><a class="btn btn-outline-danger" asp-area="Administration" asp-controller="Exam" asp-action="Delete" asp-route-id="@exam.Id">Delete</a></td>
                <hidden @i++></hidden>
            </tr>
            @(i++)
        }
    </tbody>
</table>