@model SoftUniQuizSystem.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
    int i = 1;
}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">@this.ViewData["Title"]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="All" asp-controller="Users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Exam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Remove Exam</a>
                </li>
            </ul>
        </div>
    </nav>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Total quenstion</th>
            <th scope="col">Time limit</th>
            <th scope="col">Exam date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in Model.Exams)
        {
            <tr>
                <th scope="row">@i</th>
                <td></td>
                <td>@exam.Title</td>
                <td>@exam.NumberOfQuestions</td>
                <td>@exam.TimeLimit</td>
                <td>Active</td>
                <td><button type="button" class="btn btn-outline-danger" a asp-area="Administration" asp-controller="Exam" asp-action="Delete" asp-route-id="@exam.Id">Delete</button></td>
                <hidden @i++></hidden>
            </tr>

        }
    </tbody>
</table>